@media (max-width: 1600px) {
	#list .top-bar span {
    font-size: 24px;
	}
	.escorts-badge {
		left: 15px;
    width: 50px;
    height: 50px;
	}
	.escorts-price {
		font-size: 14px;
    padding: 6px 15px;
	}
	.filters-box {
    font-size: 14px;
	}
	.diamond-slider{
		margin-right: -6px;
		margin-left: -6px;
	}
	.diamond-slider .escorts-box{
		margin: 0 7px;
	}
	.ads-grid {
		grid-gap: 15px;
	}
	.escorts-data {
		font-size: 14px;
	}
	.escorts-info {
		padding: 15px;
	}
	.escorts-name {
		font-size: 18px;
	}
	.escorts-grid {
		grid-gap: 14px;
	}
	.filters-container {
		grid-gap: 14px;
		margin-bottom: 14px;
	}
}
@media (max-width: 1366px) {
	.filters-box i {
    right: 10px;
	}
	.filters-box {
    font-size: 13px;
		padding: 12px 15px;
	}
	.escorts-data div {
    font-size: 13px;
	}
	.escorts-name {
    font-size: 17px;
	}
	section {
		padding: 70px 0;
	}
	.diamond-slider{
		grid-column: span 5;
	}
	.escorts-grid {
		grid-template-columns: repeat(5, 1fr);
	}
}
@media (max-width: 1280px) {
	.diamond-slider .slick-next {
    right: -50px;
	}
	.diamond-slider .slick-prev {
    left: -50px;
	}
	#list .container {
    width: 100%;
    padding: 50px 80px 80px 80px;
	}
	.modal-box {
		padding: 12px 20px;
	}
	.filters-box i {
		right: 10px;
	}
	.filters-box {
		padding: 15px;
	}
}
@media (max-width: 1200px) {
	.escorts-data div {
    font-size: 12px;
	}
	.services-container {
		grid-template-columns: repeat(3, 1fr);
	}
	.settings-tabs {
		width: 200px;
	}
	.settings-content {
		margin-left: 20px;
		width: calc(100% - 220px);
	}
	.settings-wrapper {
		padding: 30px;
	}
	.managment-text {
		position: relative;
	}
	.managment-grid {
		grid-gap: 15px;
		grid-template-columns: repeat(4, 1fr);
	}
	#settings .container {
		width: 100%;
	}
	.plan-price p {
		line-height: 1.2;
	}
	#register .container {
		width: 100%;
	}
}
@media (max-width: 1170px) {
	.filters-container {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (max-width: 991px) {
	#register .title{
		padding: 0 20px;
	}
	.modal-ads.modal-overlay{
		display: block;
		text-align: center;
	}
	.settings-box {
    padding: 30px;
	}
	.settings-grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
		width: 100%;
		max-width: 380px;
		padding: 0 15px;
		margin: 0 auto;
	}
	.modal-overlay.modal-nationality .modal-container,
	.modal-overlay.modal-city .modal-container,
	.modal-overlay.modal-town .modal-container {
    padding: 100px 15px 80px 15px;
	}
	.city-container {
    padding: 100px 15px 80px 15px;
	}
	.escorts-main h2 {
    font-size: 36px;
	}
	.detail-block {
    margin-bottom: 30px;
    padding-bottom: 30px;
	}
	#profile {
    margin-top: 80px;
	}
	.verification-title h2 {
    font-size: 36px;
	}
	.success-btn {
		font-size: 20px;
    width: 70px;
    height: 70px;
	}
	.login-container {
    padding: 30px;
	}
	#list .top-bar span {
    font-size: 22px;
	}
	#settings,
	#checkout {
    min-height: calc(100vh - 62px);
    margin-top: 62px;
	}
	.settings-box h3{
		font-size: 26px;
	}
	.detail-title h3{
		padding: 0 0 0 20px;
    font-size: 26px;
	}
	.register-title h3 {
    padding: 0 0 0 20px;
    font-size: 26px;
	}
	.title h2 {
		font-size: 36px;
	}
	.modal-bump {
		padding: 100px 15px 80px 15px;
	}
	#login {
		padding: 40px 15px;
		margin-top: 62px;
		min-height: calc(100vh - 62px);
	}
	.modal-apply {
		top: 15px;
		left: 15px;
		font-size: 13px;
		padding: 12px 25px;
		letter-spacing: 0;
	}
	.profile-detail {
		padding: 0 15px;
	}
	.escorts-sticky{
		position: relative;
		top: 0;
	}
	.escorts-photo-inner img {
		display: none;
	}
	.escorts-photo-inner {
		position: relative;
	}
	.title h3 {
		font-size: 40px;
	}
	.escorts-detail {
		width: 100%;
	}
	.flickity-prev-next-button svg {
		height: 30%;
	}
	.escorts-photo {
		width: 100%;
		margin: 0 0 20px 0;
	}
	.profile-inner {
		padding: 0;
		margin: 20px 0 50px 0;
		display: block;
	}
	.profile-slider {
		height: 400px;
		padding: 0;
	}
	.select-box p {
		font-size: 13px;
	}
	.select-box {
		padding: 12px 20px;
	}
	.ads-grid {
		padding-bottom: 15px;
	}
	#topnav .user-bg {
		height: 45px;
		width: 45px;
	}
	#contact {
		margin-top: 62px;
	}
	.container {
		padding: 0;
	}
	.contact-img .logo img {
		height: 100px;
	}
	.verification-img .logo img {
		height: 100px;
	}
	.tabs-block li {
		margin-bottom: 0;
	}
	.tabs-block li.active {
		grid-column: span 2;
		grid-row-start: 1;
	}
	.settings-tabs .tabs-block {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		margin-bottom: 20px;
	}
	.settings-content {
		width: 100%;
		margin: 0;
	}
	.settings-tabs {
		width: 100%;
	}
	#legal {
		margin-top: 62px;
		padding: 40px 0;
	}
	.payment-invoice {
		padding: 30px;
	}
	.payment-detail {
		padding: 30px;
	}
	.payment-invoice .btn-mid {
		position: relative;
		bottom: 0;
		left: 0;
		margin-top: 30px;
		width: 100%;
	}
	.payment-grid {
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
	.photo-preview::after {
    font-size: 32px;
	}
	.photo-options label::after {
		font-size: 20px;
		height: 40px;
	}
	.photo-options label:before {
    height: 40px;
	}
	#list .container {
		padding: 15px;
	}
	.register-container {
		padding: 30px;
	}
	.plan-badge {
    font-size: 12px;
    top: 20px;
	}
	.plan-box {
		padding: 80px 15px 15px 15px;
	}
	.plan-grid {
		grid-gap: 10px;
		grid-template-columns: 1fr;
	}
	#register {
		margin-top: 62px;
		padding: 30px 0;
	}
	.services-register {
		grid-template-columns: repeat(3, 1fr);
	}
	.modal-close {
		top: 15px;
		right: 15px;
		width: 40px;
		height: 40px;
		font-size: 13px;
		z-index: 100;
	}
	.modal-container {
		padding: 50px 15px;
	}
	.modal-option {
		font-size: 14px;
		padding: 0 15px;
	}
	#topnav #navigation .btn-bump {
		font-size: 0;
		padding: 0;
		height: 45px;
		width: 45px;
		align-items: center;
		justify-content: center;
		background: #de4c7f;
		border-radius: 100%;
		text-align: center;
		display: inline-flex;
	}
	#topnav #navigation .btn-bump span {
		display: block;
		font-size: 18px;
		padding: 0;
		margin: 0;
		position: absolute;
	}
	#topnav #navigation .user-active .btn-bump {
		display: inline-flex;
	}
	#topnav .header-user {
		margin-right: 5px;
	}
	#topnav .logo-main {
		display: none;
	}
	#topnav .logo-min {
		display: block;
	}
	#topnav .logo img {
		height: 45px;
	}
	#navigation {
		position: absolute;
		right: 15px;
	}
	#topnav {
		padding-top: 0;
	}
	#topnav .logo {
		position: relative;
		left: 0;
	}
	#topnav .container {
		padding: 0 15px;
		align-items: flex-start;
	}
	#topnav .btn-register svg,
	#topnav .btn-login svg {
		height: 18px;
		width: auto;
	}
	#topnav .btn-register i {
		margin: 0;
	}
	#topnav .btn-register {
		background-color: transparent;
		padding: 0;
		margin: 0;
	}
	#topnav .header-login .btn-register {
		text-indent: -9999px;
		height: 45px;
		width: 45px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: #59287f;
		border-radius: 100%;
		margin-right: 0;
		position: relative;
	}
	#topnav .header-login .btn-login{
		margin-right: 10px;
		font-size: 12px;
	}
	#topnav .header-login a i {
		display: flex;
		font-size: 15px;
		margin: 0;
		position: absolute;
	}
	.escorts-overlay {
		padding: 40px 20px;
	}
	.diamond-slider {
    grid-column: span 4;
	}
	.escorts-grid {
		grid-template-columns: repeat(4, 1fr);
	}
	.verification-form {
		padding: 40px 20px;
	}
}
@media (max-width: 768px) {
	.payment-options {
    grid-template-columns: 1fr;
    grid-gap: 15px;
		margin-top: 30px;
	}
	.plan-types {
    grid-template-columns: 1fr;
    grid-gap: 15px;
		margin-top: 30px;
	}
	.slick-arrow.slick-prev {
    right: 65px;
	}
	.slick-arrow {
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 30px;
	}
	.detail-info .detail-content p{
		font-size: 12px;
	}
	.form-legal p {
    font-size: 12px;
	}
	.login-legal p {
    font-size: 12px;
	}
	.verification-title p {
    font-size: 15px;
	}
	.title p{
		font-size: 15px;
	}
	.invoice-row p {
    font-size: 12px;
	}
	.payment-items li{
		font-size: 12px;
	}
	.payment-row div {
    margin-bottom: 10px;
	}
	.payment-detail {
    padding: 30px 20px;
	}
	.payment-row {
		margin-top: 15px;
	}
	.payment-row label, .invoice-row label, .payment-row p {
    font-size: 12px;
	}
	#settings,
	#checkout {
		padding: 40px 20px;
	}
	#register {
		padding: 40px 0 0 0;
	}
	.form-control {
    padding: 12px 15px;
    height: auto;
    font-size: 12px;
	}
	.form-obs {
		font-size: 12px;
	}
	.register-title p {
    font-size: 12px;
	}
	.register-title {
		margin-bottom: 15px;
	}
	.detail-title{
		margin-bottom: 15px;
	}
	.form-group label {
		font-size: 13px;
		margin: 4px 0 8px 0;
	}
	.services-register .services-box {
		font-size: 12px;
		height: 40px;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.form-3 {
    grid-template-columns: repeat(2, 1fr);
	}
	.services-check {
    font-size: 10px;
		width: 40px;
	}
	.detail-title h3:before {
    height: 6px;
    width: 6px;
	}
	.register-title h3:before {
    height: 6px;
    width: 6px;
	}
	.footer-links a {
    font-size: 13px;
	}
	.select-check {
		width: 40px;
		font-size: 12px;
	}
	.ads-grid {
		grid-template-columns: 1fr 1fr;
	}
	#contact {
		height: auto;
	}
	.contact-inner {
		padding: 40px 15px;
	}
	.contact-img .logo {
		position: relative;
	}
	.contact-img {
		padding: 80px 0;
	}
	.half-contact {
		display: block;
		height: auto;
	}
	.payment-column {
		grid-gap: 20px;
	}
	.photo-box {
		height: 250px;
	}
	.services-register {
		grid-template-columns: repeat(3, 1fr);
	}
	.modal-title {
		margin-bottom: 20px;
		font-size: 26px;
	}
	.modal-check {
		width: 40px;
		font-size: 12px;
	}
	.modal-grid {
		grid-template-columns: repeat(3, 1fr)
	}
	.footer-column li {
		margin: 0 5px 5px 5px;
		padding: 0 15px;
	}
	.top-bar {
		align-items: center;
	}
	.diamond-slider {
    grid-column: span 2;
	}
	.escorts-grid {
		grid-template-columns: 1fr 1fr;
	}	
	.verification-block .btn-mid {
		margin-right: 10px;
		padding: 15px 20px;
	}
	.verification-form {
		height: auto;
	}
	.verification-legal {
		padding: 0;
	}
	.verification-block {
		margin: 20px 0;
	}
	.verification-title h2 {
		font-size: 28px;
	}
	#verification .half-grid {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 570px) {
	.photo-label{
		font-size: 12px;
	}
	.escorts-renew a {
    margin-bottom: 5px;
	}
	.escorts-renew {
    margin-top: 5px;
	}
	.escorts-btn {
    grid-gap: 5px;
	}
	.ads-grid .btn-mid{
		font-size: 12px;
	}
	.modal-close {
    width: 35px;
    height: 35px;
	}
	#topnav .header-settings a {
		text-align: center;
	}
	#topnav .header-user .header-settings{
		position: fixed;
		bottom: 0;
		left: 0;
		top: initial;
		width: 100%;
		z-index: 300;
		box-shadow: 0 1.8vw 4vw 1vw rgb(0 0 0 / 20%);
		-webkit-box-shadow: 0 1.8vw 4vw 1vw rgb(0 0 0 / 20%);
	}
	.select-box p {
    font-size: 12px;
	}
	#topnav .user-bg {
    height: 40px;
    width: 40px;
	}
	#topnav #navigation .btn-bump {
		height: 40px;
		width: 40px;
	}
	.modal-check {
    width: 35px;
    font-size: 10px;
	}
	#topnav .header-login .btn-login {
    margin-right: 8px;
    padding: 9px 20px;
	}
	#topnav .header-login .btn-register {
    height: 40px;
    width: 40px;
	}
	.login-container {
    padding: 20px;
	}
	.form-recover p {
    font-size: 12px;
	}
	.form-recover {
    grid-template-columns: 1.2fr 1fr;
	}
	.rates-grid{
		grid-gap: 10px;
	}
	.rates-box b {
    display: block;
		width: 100%;
	}
	.footer-column li {
    margin: 0 0 5px 0;
    padding: 0 10px;
	}
	.footer-links a:after {
    right: -15px;
	}
	.services-check {
    width: 40px;
	}
	.summary-row {
    font-size: 12px;
	}
	.modal-option {
    font-size: 12px;
		left: -15px;
	}
	.profile-cta{
		display: grid;
		opacity: 1;
		bottom: 0;
		pointer-events: visible;
	}
	.escorts-photo .btn-mid{
		padding: 12px 15px;
	}
	.profile-img{
		margin: 0 10px 0 0;
	}
	.slick-arrow{
		display: none !important;
	}
	.profile-slider {
    height: 70vw;
		margin-right: -10px;
	}
	.detail-block {
    margin-bottom: 20px;
    padding-bottom: 20px;
	}
	.form-legal p:last-child {
    text-align: left;
	}
	.form-legal {
    align-items: flex-start;
	}
	.verification-block .btn-mid {
    margin: 0 0 10px 0;
	}
	.top-bar {
    grid-gap: 10px;
	}
	.escorts-name {
    font-size: 16px;
	}
	#topnav.scroll .logo {
    padding: 8px 0;
	}
	#topnav .navigation-menu {
    padding: 8px 0;
	}
	.plan-title span {
    font-size: 14px;
	}
	.plan-title h4 {
    font-size: 20px;
	}
	.plan-title {
    margin-bottom: 20px;
	}
	.plan-list p{
		font-size: 14px;
	}
	.escorts-main h2 {
    font-size: 28px;
	}
	.title h2 {
		font-size: 28px;
	}
	#list .container {
		padding: 0 15px 30px 15px;
	}
	#list .title h4 {
    font-size: 18px;
	}
	.detail-info .accordion-title i {
		font-size: 13px;
	}
	.footer-bottom p {
		font-size: 13px;
		padding: 20px 0;
	}
	.photo-options label::after {
    font-size: 15px;
	}
	.detail-grid {
		column-count: 2;
		column-gap: 20px;
	}
	.title-grid .title {
		width: 100%;
		max-width: 200px;
	}
	.escorts-main {
    margin-bottom: 30px;
	}
	.escorts-detail .escorts-price {
		padding: 12px 20px;
	}
	.escorts-detail .escorts-data {
		display: block;
		margin-top: 10px;
	}
	.escorts-detail .escorts-data div {
		font-size: 15px;
		margin-bottom: 5px;
	}
	.escorts-detail .escorts-data div:last-child{
		margin-bottom: 0;
	}
	.services-box {
		font-size: 12px;
		padding-top: 6px;
    padding-bottom: 6px;
		height: 40px;
	}
	.services-container {
		grid-template-columns: 1fr 1fr;
	}
	.flickity-prev-next-button.previous {
		right: 40px;
	}
	.flickity-prev-next-button.next {
		right: 0;
	}
	.modal-slider {
		margin-left: -15px;
		margin-right: -15px;
		width: 100vw;
	}
	.carousel-cell {
		width: 100%;
		border: none;
	}
	.ads-grid {
		grid-template-columns: 1fr;
		grid-gap: 20px;
		margin-top: 0;
	}
	.photo-options label::after {
    height: 40px;
    font-size: 12px;
	}
	.photo-options label:before {
    height: 40px;
	}
	.divider {
		margin: 20px 0;
	}
	.register-group {
		margin-bottom: 30px;
	}
	.modal-title {
		font-size: 22px;
	}
	.escorts-data div {
		font-size: 12px;
	}
	.contact-grid {
		grid-gap: 10px;
	}
	.contact-img .logo img {
		height: 90px;
	}
	.managment-column:first-of-type {
		padding-top: 0;
		margin-top: 0;
		border-top: none;
	}
	.managment-column .btn-mid {
		margin-bottom: 10px;
	}
	.managment-column {
		margin-top: 10px;
		border-top: 1px solid #e7e7e7;
	}
	.managment-head {
		height: auto;
		display: block;
	}
	.settings-wrapper .services-register {
		grid-template-columns: repeat(2, 1fr);
	}
	.managment-column:nth-child(2) {
		grid-column: span 2;
	}
	.managment-column:first-of-type {
		grid-column: span 2;
	}
	.managment-img {
		height: 200px;
	}
	.managment-column .btn-mid {
		margin-top: 10px;
	}
	.managment-text p {
		font-size: 14px;
	}
	.managment-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}
	.tabs-block li {
		padding: 12px 25px;
		font-size: 13px;
	}
	.settings-content {
		width: 100vw;
		margin-right: -15px;
		margin-left: -15px;
	}
	.settings-wrapper {
		padding: 15px;
	}
	.settings-tabs .tabs-block {
		grid-gap: 10px;
		margin-bottom: 10px;
	}
	.legal-text ul {
		padding-left: 20px;
	}
	.invoice-row {
		margin-top: 20px;
	}
	.payment-invoice {
		padding: 30px 20px;
	}
	.payment-grid {
		grid-gap: 0;
		padding: 0 15px;
	}
	.payment-center img {
		height: 30px;
		margin-top: 0;
	}
	.payment-center {
		text-align: left;
	}
	.payment-column {
		grid-template-columns: 1fr;
	}
	.photo-grid.photo-2 {
		grid-template-columns: 1fr;
	}
	.photo-grid {
		grid-template-columns: 1fr 1fr;
	}
	.title p {
		margin: 5px 0 0 0;
	}
	.title {
		margin-bottom: 20px;
	}
	.settings-box h3{
		font-size: 22px;
	}
	.detail-title h3 {
		padding: 0 0 0 15px;
		font-size: 22px;
	}
	#register {
    padding: 40px 0 0 0;
	}
	.register-title h3 {
		padding: 0 0 0 15px;
		font-size: 22px;
	}
	.register-container {
		padding: 20px 15px 40px 15px;
		border-left: none;
		border-right: none;
	}
	.form-save {
    margin-top: 15px;
		width: 100%;
	}
	.form-3 .form-save {
    grid-column: span 2;
	}
	.form-3 .form-full {
		grid-column: span 2;
	}
	.form-3 {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}
	.services-register {
		grid-template-columns: repeat(2, 1fr);
	}
	.photo-grid {
		grid-gap: 10px;
	}
	.escorts-info {
		padding: 10px 8px;
	}
	.modal-grid.grid-3 {
		grid-template-columns: repeat(2, 1fr);
	}
	.btn-mid {
		font-size: 14px;
		width: 100%;
		padding: 9px 25px;
		letter-spacing: 0;
	}
	.btn-payment .btn-mid{
		padding: 12px 25px;
	}
	.profile-cta .btn-mid{
		padding: 12px 25px;
	}
	.escorts-btn a {
    padding: 9px 0;
	}
	.modal-search {
		display: grid;
		grid-template-columns: 1fr auto;
		margin-bottom: 10px;
	}
	.modal-box {
		padding: 10px 12px;
		font-size: 14px;
	}
	.modal-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}
	.escorts-overlay .escorts-name {
		font-size: 18px;
	}
	.escorts-overlay .escorts-text p {
    font-size: 12px;
    -webkit-line-clamp: 4;
	}
	.escorts-overlay {
		padding: 20px 10px;
	}
	.escorts-grid {
		grid-gap: 10px;
	}
	.diamond-slider .escorts-box {
    margin: 0 5px;
	}
	.filters-box {
		padding: 10px 12px;
		font-size: 12px;
	}
	.escorts-price {
		padding: 4px 10px;
		top: 15px;
		font-size: 12px;
	}
	#topnav {
		background-color: #f8f9fa;
		border-bottom: 1px solid #e7e7e7;
	}
	.filters-container {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}
	.verification-img .logo img {
		height: 90px;
	}
	.verification-img {
		padding: 80px 0;
	}
	.escorts-data div:after {
    top: 6px;
    width: 3px;
    height: 3px;
	}
}
@media (max-width: 380px) {
	.modal-box:nth-child(20),
	.modal-box:nth-child(19),
	.modal-box:nth-child(18),
	.modal-box:nth-child(17),
	.modal-box:nth-child(16),
	.modal-box:nth-child(15) {
		display: none;
	}
	.modal-container {
		padding: 50px 15px 0 15px;
	}
	
	.escorts-data div {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
	.escorts-data {
		flex-direction: column;
	}
	.contact-grid .form-group {
		margin-bottom: 10px;
	}
	.contact-grid {
		display: block;
	}
}